<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="about">
        <h1>Profile 👋</h1>
        <div class="image-text-container">
          <div class="profile-image">
            <img src= '../assets/images/profile-image.jpg'>
          </div>
          <div class="profile-text">
            <p>I'm a  full-stack web developer located in Osaka, Japan. I am originally from Los Angeles, California.</p>
            <p>I want to bring peoples ideas to the web for everyone to see.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>