<div class="about-container" id="about">
    <h1>About me</h1>
    <div class="main-text">
        <div class="about">
            <h3 class="about-me-title">This is about me.</h3>
            <p>Until I was a university student, I spent a lot of my free time playing video games and learning about computers. During university I studied about all things Japan including the language and history but I also found my passion for teaching. After wanting to revisit my love for computers, I took a try at programming and applied for the Le Wagon Bootcamp in Tokyo and learned programming from zero. This was the best decision of my life. I have been an avid problem solver my whole life because of my love towards games and with programming I now have the ability to solve problems in the real world. </p>
        </div>
        <div class="doing">
            <h3 class="doing-title"> This is what I'm doing.</h3>
            <p>I am currently working on the React lesson on Scrimba along with learning MERN.</p>
            <p>As a solo project, I am working on an app called Tango Typhoon which uses Rails Backend and React front end. It is a simple vocabulary game for elementary school students</p>
            <p>As a group project, I am working with 3 Le Wagon Alumni on a project called Troupe, a trip itinerary app. We are currently in the planning stage but we are planning on using MERN.</p>
        </div>
    </div>
</div>