<div class="about-container" id="about">
    <div class-"main-text">
        <h1>About me</h1>
        <div>
            <h3>This is about me</h3>
            <p> I have been interested in Japan and computers for as long as I can remember. Until I was a university student, I spent a lot of my free time playing video games and learning about computers. During university I studied about all things Japan including the language and history but I also found my passion for teaching. After wanting to revisit my love for computers, I took a try at programming and applied for the Le Wagon Bootcamp in Tokyo and learned programming from zero. This was the best decision of my life. I have been an avid problem solver my whole life because of my love towards games and with programming I now have the ability to solve problems in the real world. </p>
        </div>
    </div>
</div>