<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="about"style="background-image: linear-gradient(rgba(200,200,0,0.3), rgba(0,0,0,0.3))">
        <h2>Hello THIS IS THE BANNER 👋</h2>
      </div>
    </div>
  </div>
</div>