  <div class="contact-container" id="contact">
      <h1 class="contact">Contact Me</h1>
    <div class="footer-container">
      <div class="footer">
        <% link_to 'https://github.com/smattison0830/' do %>
          <i class="devicon-github-plain"></i>
        <% end %>
        <% link_to 'https://www.linkedin.com/in/spencer-mattison/' do %>
          <i class="devicon-linkedin-plain"></i>
        <% end %>
      </div>
    </div>
  </div>
