<div class="container">
  <div class="project-text">
    PROJECT
  </div>
  <div class="project-container">
    <div class="project-picture">

    </div>
    <div class="project-text">
      <div class="project-text-header">
        <h2>MIDORIN</h2>
      </div>
      <div class="project-text-description">
        <h4>LOREN IPSUM</h4>
      </div>
      <div class="project-text-buttons">
        <button>

        </button>
        <button>

        </button>
      </div>
    </div>
  </div>
</div>