<div class="main-skills-wrapper">
  <h1>Skills</h1>
  <div class="skills-wrapper col-12">
    <div class="skills-text col-12">
      <% data.skills.each do |skill| %>
      <div class="technology">
        <h5>Technology</h5>
        <div class="tools-icons">
          <% skill.techtag.each do |tag| %>
              <i class="<%= tag %>"></i>
          <% end %>
        </div>  
      </div>
      <div class="tools">
        <h5>Tools</h5>
        <div class="tools-icons">
          <% skill.tooltag.each do |tag| %>
            <i class="<%= tag %>"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
