.contact-container {
    width: 100%;
    text-align: center;
    border: 4px solid #167FFB;
    border-radius: 30px;

    h3 {
        font-family: SignPainter;
        font-weight: normal;
        font-size: 6rem;
        color: white;
    }
}

.contact {
    font-size: 5rem;
}

.footer {
    font-size: 80px;
    a:hover {
        color: #7db6f6;
        text-decoration: none;
    }
}


.devicon-github-original {
    color: black;
}