// Import your components CSS files here.
@import "project";
@import "profile";
@import "skill";
@import "contact";
@import "about-me";

h1 {
    text-align: center;
    font-family: SignPainter;
    font-weight: normal;
    font-size: 8rem;
    margin: 0px;
    text-shadow: 2px 2px 5px #167ffb;
}

body {
    background-color: white;
}

.container {
    padding-right: 17px;
    padding-left: 32px;
}