// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "project";
@import "profile";
@import "skill";


.container {
    margin:0;
}

h1 {
    font-family: SignPainter;
    font-weight: normal;
    font-size: 4rem;
    line-height: 160px;
    padding-left: 5%;
    margin: 0px
}