// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "project";
@import "profile";
@import "skill";


h1 {
    font-family: SignPainter;
    font-weight: normal;
    font-size: 4rem;
    line-height: 139px;
}