.project-container {
    display: flex;
    padding: 24px 104px 24px 104px;
    justify-content: space-evenly;

}

.project-main-wrapper {
    background-color: white;
}

.project-header {
    h1 {
        padding-bottom: 24px;
        font-size: 7rem;
    }
}

.project-text {
    width: 50%;
    margin-left: 8rem;
    h3 {
        font-family: SignPainter;
        font-weight: normal;
        font-size: 4rem;
        text-align: center;
    }
    p {
        font-family: "Cabin", "Helvetica", "sans-serif";
        line-height: 1.5;
    }
}

.description {
    font-style: italic;
    font-size: 1rem
}

.info {
    font-size: 1.8rem;
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 100%;
        max-height: 600px;
        border-radius: 10px;
    }  
}

.project-links {
    display: flex;
    justify-content: space-evenly;
    top: 10%;
    position: relative;
}

.link-icon {
    height: 80px
}

@media (max-width: 768px) {
    .project-wrapper {
        img {
            max-height: 600px;
        }  
    }
    .project-container {
        display: flex;
        padding: 24px 80px 24px 80px;
        justify-content: space-evenly;
    
    }
    .project-text {
        width: 60%;
        margin-left: 4rem;
        h3 {
            font-size: 3rem;
        }
    }
    
    .project-links {
        text-align-last: center;
    }
    .info {
        font-size: 1.1rem;
    }
}

@media (max-width: 482px) {
    .project-wrapper {
        img {
            max-height: 600px;
            width: 50%;
            margin-left: 8rem;
            margin-bottom: 16px;
            
        }  
    }
    .project-container {
        padding: 0px;
        display: grid;
        margin-bottom: 16px;
    }
    .project-text {
        width: 80%;
        margin-left: 4rem;
        h3 {
            font-size: 3rem;
        }
    }
    
    .project-links {
        text-align-last: center;
    }
    .info {
        font-size: 1.1rem;
    }

}