.image-text-container {
    display: flex;
    justify-content: center;
    background-color: seashell;
    padding: 80px;

}

.profile-text {
    display: flex;
    padding-left: 40px;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: seashell;

}

.profile-image {
    img {
        max-width: 360px;
        width: 100%;
    }  
}