.project-main-wrapper {
    background-color: cyan;
}

.project-header {
    background-color: blueviolet;

    h1 {
        font-size: 8rem;
    }
}

.project-text {
    width: 50%;
    margin-left: 8rem;
    h3 {
        font-family: SignPainter;
        font-style: italic;
        font-weight: normal;
        font-size: 4rem;
        line-height: 139px;
        text-align: center;
    }
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    img {
        width: 50%;
        height: 600px;
        width: 300px;
    }  
}

