.image-text-container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 80px;
    padding-top: 200px;
}

.profile-text {
    display: flex;
    padding-left: 40px;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    font-family: fantasy;
    p {
        font-family: monospace;
        margin-bottom: 2rem;
    }
}

.profile-image {
    margin-bottom: 32px;
    text-align: center;
    img {
        max-width: 320px;
        width: 100%;
        border-radius: 10%;
    }  
}

.button-top {
    text-align: center;
    padding-bottom: 40px;
}

.links {
    display: grid;
    background-color: white;
    padding-bottom: 200px;

}

@media (max-width: 768px) {
    .image-text-container {
        padding: 32px;
    } 
}

@media (max-width: 482px) {
    .image-text-container {
        display: grid;
    }
    .profile-image {
        margin-bottom: 32px;
        text-align: center;
            img {
                width: 80%;
            }  
        }

}