.image-text-container {
    display: flex;
}

.profile-text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 480px;
    background-color: burlywood;

}

.profile-image {
    img {
        width: 50%;
        width: 480px;
    }  
}