.main-skills-wrapper {
  padding-bottom: 64px;
    h5 {
        text-align: center;
    }
}

.technology {
  max-width: 300px;
}

.skills-text {
  display: flex;
  justify-content: space-evenly;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  p {
    align-self: center;
  }
  i {
    font-size: 64px;
  }
}
