.main-skills-wrapper {
  padding-bottom: 32px;
  background-color: white;
    h5 {
        text-align: center;
    }
}

.technology {
  max-width: 300px;
}

.skills-text {
  padding: 48px;
  display: flex;
  justify-content: space-evenly;
    h5 {
      font-family: monospace ;
    }
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  i {
    font-size: 64px;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 482px) {
  .skills-text {
    display: grid;
  }

}
